/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}
* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
._container_wor1f_1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 650px;
  margin: 3rem auto 0;
}
._form_4axrq_1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
._title_47ios_1 {
  margin-bottom: 0.5rem;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 1.5rem;
  font-weight: 700;
}

._guideText_47ios_9 {
  margin-bottom: 1.5rem;
  color: #8b95a1;
  font-family: "Noto Sans KR";
  font-size: 0.9rem;
}
._container_1cm80_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

._cardInputs_1cm80_9 {
  display: flex;
  gap: 0.62rem;
}

._cardInputBox_1cm80_14 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}

._errorMessage_1cm80_21 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
}
._label_1vjtc_1 {
  color: #0a0d13;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-weight: 500;
}

._hidden_1vjtc_8 {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
._input_v81jq_1 {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #acacac;
  height: 2.75rem;
  padding: 0.5rem;
}

._input_v81jq_1:focus {
  border: 1px solid #000;
}

._error_v81jq_13 {
  border: 1px solid #ff3d3d;
}

._error_v81jq_13:focus {
  border-color: #ff3d3d;
}

._input_v81jq_1::-webkit-input-placeholder {
  letter-spacing: 0.6992px;
}
._container_ju1v7_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

._expireDateInputContainer_ju1v7_9 {
  display: flex;
  gap: 0.62rem;
}

._expireDateBox_ju1v7_14 {
  width: 50%;
}

._expireDateInputBox_ju1v7_18 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  height: 80px;
  padding-bottom: 0.5rem;
}

._errorMessage_ju1v7_27 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
  height: 15px;
}
._container_1sop9_1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

._cvcInputs_1sop9_9 {
  display: flex;
  gap: 0.62rem;
}

._errorMessage_1sop9_14 {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
}
._previewCard_8qvoe_1 {
  margin: 0 auto;
  width: 26.5625rem;
  height: 16.5625rem;
  background-color: #333333;
  padding: 1.25rem 1.5rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

._previewHeader_8qvoe_14 {
  display: flex;
  justify-content: space-between;
  height: 67.5px;
}

._chip_8qvoe_20 {
  width: 3.75rem;
  height: 2.8125rem;
  background-color: #ddcd78;
  border-radius: 4px;
}

._cardNumber_8qvoe_27 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
  font-size: 25px;
  font-weight: 500;
  height: 25px;
}

._cardNumber_8qvoe_27 > span {
  letter-spacing: 5px;
  width: 70px;
}

._dots_8qvoe_43 {
  display: flex;
  gap: 0.65rem;
}

._expire_8qvoe_48 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
  height: 25px;
  padding: 0 0.25rem;
}

._expire_8qvoe_48 > span {
  display: inline-block;
  width: 35px;
}

._expire_8qvoe_48 > span:nth-child(2) {
  width: auto;
  padding-right: 0.25rem;
}
._dot_xnpfw_1 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
